*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
}

body{


    background-color: rgb(57, 121, 142);
    color: white;
    display: flex;
    justify-content: center;
    align-items: center;
    background-image: url('https://media.istockphoto.com/id/1292919739/vector/tic-tac-toe-school-game-colorful-seamless-pattern-for-fabric-and-print-on-the-paper.jpg?s=612x612&w=0&k=20&c=Q4gMspKHffPmhKuofb_Rb_WCD8uAgbsbXSKuWEcziM8=');
    background-size: cover;
    

}

.board{
    display: grid;
    grid-template-columns: repeat(3, 100px);
    grid-template-rows: repeat(3, 100px);
    gap: 10px;
    background-color: rgb(234, 220, 195);
    padding: 20px;
    border-radius: 10px;
    box-shadow: black 0px 0px 15px;
    margin: 70px;
    transition-property: box-shadow, transform, background-color, width, height;
    transition-duration: 0.5s;
    transition-timing-function: ease-in-out;

}


.cell{
    width: 100px;
    height: 100px;
    background-color: rgb(1, 62, 82);
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: 3.5rem;
    cursor: pointer;
    border-radius: 5px;
    transition: background-color 0.3s;
    transition-property: box-shadow, transform, background-color, width, height;
    transition-duration: 0.3s;
    transition-timing-function: ease-in-out;

}
.buttons{
    margin-top: 20px;
    display: flex;
    gap: 10px;
    justify-content: center;

}
#reset{
    padding: 10px 20px;
    font-size: 1rem;
    border: none;
    border-radius: 5px;
    background-color: black;
    color: white;
    cursor: pointer;
    transition: background-color 0.3s;
    box-shadow: whitesmoke 0px 0px 15px;

}




h1{
    text-align: center;
    margin-bottom: 20px;
    font-size: 2.5rem;
    color: rgb(18, 1, 1);
    box-shadow: black 0px 0px 45px;
    padding: 10px;
    margin-top: 5%;
    border-radius: 20%;
    background-color: rgb(239, 199, 129);
    
    

    

}
.q{
    animation: spin 1s linear infinite;
    box-shadow: whitesmoke 0px 0px 15px;
    border-radius: 30%;
}


.q:hover{
    animation: none;
    box-shadow: inset 0 0 5px white;
    transition:all 3s;

}


.cell:hover{
    background-color: rgb(1, 24, 30);
    box-shadow: inset 0 0 5px white;
    transition: all 0.3s;
    transform: scale(1.2);
}


